<h1>レシピ詳細</h1>

<p>レシピ名:<%= @recipe.title %></p>
<p>説明:<%= @recipe.description %></p>
<p>手順:<%= @recipe.steps %></p>
<p>材料:<%= @recipe.ingredient %></p>


<%= link_to "このレシピで動画を作る", new_video_path(recipe_id: @recipe.id)  %>|
<%= link_to "このレシピの動画を見る", videos_recipe_path(@recipe) %>|
<%= link_to "レシピ一覧に戻る", recipes_path %>